{% extends "basesite.html" %}

{% block content %}
<h1>Hello {{ user }}</h1>
<div id="getpass">
    Please Enter Your Encryption Scheme Password:
    <input type="text" name="passw" id="pass">
    <button type="button" onclick="myFunction()">Submit</button>
</div>
<div id="homeview">
{% if files %}
    <ul>
      {% for f in files %}
        <li><div><p>{{ f.file_type }} <a href="/user/{{ user }}/{{ f.pk }}/">{{ f.name }}</a> </p><p>{{ f.modified_time }}</p></div></li>
      {% endfor %}
    </ul>
    <a href="/user/{{ user }}/tree/" class="button" align="left">Tree View</a>
  {% else %}
    <p>No files are added.</p>
    <a href="/user/{{ user }}/tree/" class="button" align="left">Tree View</a>
  {% endif %}
</div>
<script type="text/javascript">

</script>
<script type="text/javascript">

    //if( localStorage['password'] )
    //{
      //  document.getElementById("getpass").style.display = "none";
    //}
    //else
    //{
        //document.getElementById("homeview").style.display = "none";
    //}
    function myFunction() {
    document.getElementById("getpass").style.display = "none";
    localStorage['password'] = document.getElementById("pass").value;
    document.getElementById("homeview").style.display = "initial";
    console.log(localStorage['password'])
}

</script>
{% endblock %}
